@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "지마켓산스";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  @apply font-[지마켓산스];
}

:root {
  @apply flex justify-center;
}
